@import "~antd/dist/antd.css";
/* html {
  height: 100%;
}
 */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#components-layout-demo-top-side-2 .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.site-layout-background {
  background: #fff;
  /* height: 100vh; */
}
.ant-page-header-heading-left > * {
  color: #fff;
}
.ant-page-header-back > * {
  color: #fff;
}


/* .logo {
  color: #fff;
  font-size: 35px;
  padding: 0;
  padding-left: 20px;
  margin: 0;
  background-color: #a76ddd;
  width: 80px;
} */
.ant-layout-header {
  padding: 0;
}

.steps {
  background-color: cadetblue;
  padding: 10px;
}
.steps{
  color: black;
}


.book-document{
  display: flex;
  justify-content: center;
}
.book-page{
  display: flex;
  justify-content: center;
}
.ant-layout-content .site-layout-background{
  height: 100vh;
}
.ant-page-header-heading-title{
  color: black;
}

.book-page >.react-pdf__Page .react-pdf__Page__canvas {
  
  width: 300px !important;
  height:  400px !important;
}

@media only screen and (max-width: 1300px) {
  .book-page >.react-pdf__Page .react-pdf__Page__canvas {
  
    width: 200px !important;
    height:  300px !important;
  }
}